/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

:root {
  --prism-text: black;
  --prism-text-shadow: white;
  --prism-text-selection: #b3d4fc;
  --prism-bg: #f5f2f0;
  --prism-comment: slategray;
  --prism-punctuation: #999;
  --prism-fucshia: #905;
  --prism-green: #690;
  --prism-gold: #9a6e3a;
  --prism-blue: #07a;
  --prism-red: #dd4a68;
  --prism-orange: #e90;
  --prism-teal: #0d898b;
}

.chakra-ui-dark {
  --prism-text: #dbe2ea;
  --prism-text-shadow: transparent;
  --prism-text-selection: #264f78;
  --prism-bg: #2d3748;
  --prism-comment: #718096;
  --prism-punctuation: #cbd5e0;
  --prism-fucshia: #ca599f;
  --prism-green: #63a942;
  --prism-gold: #ce9178;
  --prism-blue: #569cd6;
  --prism-red: #e16565;
  --prism-orange: #e90;
  --prism-teal: #17b7ba;
}

code[class*="language-"],
pre[class*="language-"] {
  color: var(--prism-text);
  background: none;
  text-shadow: 0 1px var(--prism-text-shadow);
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: var(--prism-text-selection);
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
  background: var(--prism-text-selection);
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: var(--prism-bg);
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--prism-comment);
}

.token.punctuation {
  color: var(--prism-punctuation);
}

.token.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--prism-fucshia);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: var(--prism-green);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: var(--prism-gold);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: var(--prism-blue);
}

.token.function {
  color: var(--prism-red);
}

.token.class-name {
  color: var(--prism-teal);
}

.token.regex,
.token.important,
.token.variable {
  color: var(--prism-orange);
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
